<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Product Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color:  #89e90b;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

      

        nav a {
            color:  #89e90b;
            text-decoration: none;
            padding: 10px;
            margin-right: 10px;
            display: inline-block;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color:  #89e90b;
            color: #fff;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <%- include('header.ejs') %>

    <section>
        <h2>Product List</h2>
        
        <table>
            <thead>
                <tr>
                
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <% allproducts.forEach((item)=> { %>
                <tr>
                    <td><%=item.productName %></td>
                    <td><%=item.productPrice %></td>
                    <td><%=item.productQuantity %></td>
                    <td>    <img src="<%= item.imageUrl %>" alt="<%= item.productName %> Image" width="50" height="50">
                    </td>
                    <td>
                        <button><a href="/admin/editPro/<%=item._id %>">Edit</a></button>
                        <button><a href="/admin/deleteproduct/<%=item._id %>">Delete</a></button>
                    </td>
                </tr>
                
              <% });%>
                <!-- Add more product rows as needed -->  








            </tbody>
        </table>
    </section>

</body>
</html>




